account_client.go linguist-generated=true
service/billing/api.go linguist-generated=true
service/billing/impl.go linguist-generated=true
service/billing/interface.go linguist-generated=true
service/billing/model.go linguist-generated=true
service/catalog/api.go linguist-generated=true
service/catalog/impl.go linguist-generated=true
service/catalog/interface.go linguist-generated=true
service/catalog/model.go linguist-generated=true
service/compute/api.go linguist-generated=true
service/compute/impl.go linguist-generated=true
service/compute/interface.go linguist-generated=true
service/compute/model.go linguist-generated=true
service/files/api.go linguist-generated=true
service/files/impl.go linguist-generated=true
service/files/interface.go linguist-generated=true
service/files/model.go linguist-generated=true
service/iam/api.go linguist-generated=true
service/iam/impl.go linguist-generated=true
service/iam/interface.go linguist-generated=true
service/iam/model.go linguist-generated=true
service/jobs/api.go linguist-generated=true
service/jobs/impl.go linguist-generated=true
service/jobs/interface.go linguist-generated=true
service/jobs/model.go linguist-generated=true
service/ml/api.go linguist-generated=true
service/ml/impl.go linguist-generated=true
service/ml/interface.go linguist-generated=true
service/ml/model.go linguist-generated=true
service/oauth2/api.go linguist-generated=true
service/oauth2/impl.go linguist-generated=true
service/oauth2/interface.go linguist-generated=true
service/oauth2/model.go linguist-generated=true
service/pipelines/api.go linguist-generated=true
service/pipelines/impl.go linguist-generated=true
service/pipelines/interface.go linguist-generated=true
service/pipelines/model.go linguist-generated=true
service/pkg.go linguist-generated=true
service/provisioning/api.go linguist-generated=true
service/provisioning/impl.go linguist-generated=true
service/provisioning/interface.go linguist-generated=true
service/provisioning/model.go linguist-generated=true
service/serving/api.go linguist-generated=true
service/serving/impl.go linguist-generated=true
service/serving/interface.go linguist-generated=true
service/serving/model.go linguist-generated=true
service/settings/api.go linguist-generated=true
service/settings/impl.go linguist-generated=true
service/settings/interface.go linguist-generated=true
service/settings/model.go linguist-generated=true
service/sharing/api.go linguist-generated=true
service/sharing/impl.go linguist-generated=true
service/sharing/interface.go linguist-generated=true
service/sharing/model.go linguist-generated=true
service/sql/api.go linguist-generated=true
service/sql/impl.go linguist-generated=true
service/sql/interface.go linguist-generated=true
service/sql/model.go linguist-generated=true
service/workspace/api.go linguist-generated=true
service/workspace/impl.go linguist-generated=true
service/workspace/interface.go linguist-generated=true
service/workspace/model.go linguist-generated=true
workspace_client.go linguist-generated=true
