account_client.go linguist-generated=true
apierr/error_mapping.go linguist-generated=true
apierr/error_overrides.go linguist-generated=true
error_alias.go linguist-generated=true
experimental/mocks/mock_account_client.go linguist-generated=true
experimental/mocks/mock_workspace_client.go linguist-generated=true
experimental/mocks/service/apps/mock_apps_interface.go linguist-generated=true
experimental/mocks/service/billing/mock_billable_usage_interface.go linguist-generated=true
experimental/mocks/service/billing/mock_budget_policy_interface.go linguist-generated=true
experimental/mocks/service/billing/mock_budgets_interface.go linguist-generated=true
experimental/mocks/service/billing/mock_log_delivery_interface.go linguist-generated=true
experimental/mocks/service/billing/mock_usage_dashboards_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_account_metastore_assignments_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_account_metastores_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_account_storage_credentials_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_artifact_allowlists_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_catalogs_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_connections_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_credentials_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_external_locations_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_functions_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_grants_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_metastores_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_model_versions_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_online_tables_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_quality_monitors_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_registered_models_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_resource_quotas_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_schemas_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_storage_credentials_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_system_schemas_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_table_constraints_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_tables_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_temporary_table_credentials_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_volumes_interface.go linguist-generated=true
experimental/mocks/service/catalog/mock_workspace_bindings_interface.go linguist-generated=true
experimental/mocks/service/cleanrooms/mock_clean_room_assets_interface.go linguist-generated=true
experimental/mocks/service/cleanrooms/mock_clean_room_task_runs_interface.go linguist-generated=true
experimental/mocks/service/cleanrooms/mock_clean_rooms_interface.go linguist-generated=true
experimental/mocks/service/compute/mock_cluster_policies_interface.go linguist-generated=true
experimental/mocks/service/compute/mock_clusters_interface.go linguist-generated=true
experimental/mocks/service/compute/mock_command_execution_interface.go linguist-generated=true
experimental/mocks/service/compute/mock_global_init_scripts_interface.go linguist-generated=true
experimental/mocks/service/compute/mock_instance_pools_interface.go linguist-generated=true
experimental/mocks/service/compute/mock_instance_profiles_interface.go linguist-generated=true
experimental/mocks/service/compute/mock_libraries_interface.go linguist-generated=true
experimental/mocks/service/compute/mock_policy_compliance_for_clusters_interface.go linguist-generated=true
experimental/mocks/service/compute/mock_policy_families_interface.go linguist-generated=true
experimental/mocks/service/dashboards/mock_genie_interface.go linguist-generated=true
experimental/mocks/service/dashboards/mock_lakeview_embedded_interface.go linguist-generated=true
experimental/mocks/service/dashboards/mock_lakeview_interface.go linguist-generated=true
experimental/mocks/service/dashboards/mock_query_execution_interface.go linguist-generated=true
experimental/mocks/service/files/mock_dbfs_interface.go linguist-generated=true
experimental/mocks/service/files/mock_files_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_access_control_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_account_access_control_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_account_access_control_proxy_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_account_groups_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_account_service_principals_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_account_users_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_current_user_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_groups_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_permission_migration_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_permissions_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_service_principals_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_users_interface.go linguist-generated=true
experimental/mocks/service/iam/mock_workspace_assignment_interface.go linguist-generated=true
experimental/mocks/service/jobs/mock_jobs_interface.go linguist-generated=true
experimental/mocks/service/jobs/mock_policy_compliance_for_jobs_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_consumer_fulfillments_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_consumer_installations_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_consumer_listings_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_consumer_personalization_requests_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_consumer_providers_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_provider_exchange_filters_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_provider_exchanges_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_provider_files_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_provider_listings_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_provider_personalization_requests_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_provider_provider_analytics_dashboards_interface.go linguist-generated=true
experimental/mocks/service/marketplace/mock_provider_providers_interface.go linguist-generated=true
experimental/mocks/service/ml/mock_experiments_interface.go linguist-generated=true
experimental/mocks/service/ml/mock_model_registry_interface.go linguist-generated=true
experimental/mocks/service/oauth2/mock_account_federation_policy_interface.go linguist-generated=true
experimental/mocks/service/oauth2/mock_custom_app_integration_interface.go linguist-generated=true
experimental/mocks/service/oauth2/mock_o_auth_published_apps_interface.go linguist-generated=true
experimental/mocks/service/oauth2/mock_published_app_integration_interface.go linguist-generated=true
experimental/mocks/service/oauth2/mock_service_principal_federation_policy_interface.go linguist-generated=true
experimental/mocks/service/oauth2/mock_service_principal_secrets_interface.go linguist-generated=true
experimental/mocks/service/pipelines/mock_pipelines_interface.go linguist-generated=true
experimental/mocks/service/provisioning/mock_credentials_interface.go linguist-generated=true
experimental/mocks/service/provisioning/mock_encryption_keys_interface.go linguist-generated=true
experimental/mocks/service/provisioning/mock_networks_interface.go linguist-generated=true
experimental/mocks/service/provisioning/mock_private_access_interface.go linguist-generated=true
experimental/mocks/service/provisioning/mock_storage_interface.go linguist-generated=true
experimental/mocks/service/provisioning/mock_vpc_endpoints_interface.go linguist-generated=true
experimental/mocks/service/provisioning/mock_workspaces_interface.go linguist-generated=true
experimental/mocks/service/serving/mock_serving_endpoints_data_plane_interface.go linguist-generated=true
experimental/mocks/service/serving/mock_serving_endpoints_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_account_ip_access_lists_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_account_settings_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_aibi_dashboard_embedding_access_policy_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_aibi_dashboard_embedding_approved_domains_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_automatic_cluster_update_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_compliance_security_profile_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_credentials_manager_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_csp_enablement_account_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_default_namespace_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_disable_legacy_access_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_disable_legacy_dbfs_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_disable_legacy_features_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_enable_ip_access_lists_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_enhanced_security_monitoring_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_esm_enablement_account_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_ip_access_lists_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_network_connectivity_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_notification_destinations_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_personal_compute_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_restrict_workspace_admins_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_settings_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_token_management_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_tokens_interface.go linguist-generated=true
experimental/mocks/service/settings/mock_workspace_conf_interface.go linguist-generated=true
experimental/mocks/service/sharing/mock_providers_interface.go linguist-generated=true
experimental/mocks/service/sharing/mock_recipient_activation_interface.go linguist-generated=true
experimental/mocks/service/sharing/mock_recipients_interface.go linguist-generated=true
experimental/mocks/service/sharing/mock_shares_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_alerts_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_alerts_legacy_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_dashboard_widgets_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_dashboards_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_data_sources_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_dbsql_permissions_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_queries_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_queries_legacy_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_query_history_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_query_visualizations_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_query_visualizations_legacy_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_redash_config_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_statement_execution_interface.go linguist-generated=true
experimental/mocks/service/sql/mock_warehouses_interface.go linguist-generated=true
experimental/mocks/service/vectorsearch/mock_vector_search_endpoints_interface.go linguist-generated=true
experimental/mocks/service/vectorsearch/mock_vector_search_indexes_interface.go linguist-generated=true
experimental/mocks/service/workspace/mock_git_credentials_interface.go linguist-generated=true
experimental/mocks/service/workspace/mock_repos_interface.go linguist-generated=true
experimental/mocks/service/workspace/mock_secrets_interface.go linguist-generated=true
experimental/mocks/service/workspace/mock_workspace_interface.go linguist-generated=true
service/apps/api.go linguist-generated=true
service/apps/impl.go linguist-generated=true
service/apps/interface.go linguist-generated=true
service/apps/model.go linguist-generated=true
service/billing/api.go linguist-generated=true
service/billing/impl.go linguist-generated=true
service/billing/interface.go linguist-generated=true
service/billing/model.go linguist-generated=true
service/catalog/api.go linguist-generated=true
service/catalog/impl.go linguist-generated=true
service/catalog/interface.go linguist-generated=true
service/catalog/model.go linguist-generated=true
service/cleanrooms/api.go linguist-generated=true
service/cleanrooms/impl.go linguist-generated=true
service/cleanrooms/interface.go linguist-generated=true
service/cleanrooms/model.go linguist-generated=true
service/compute/api.go linguist-generated=true
service/compute/impl.go linguist-generated=true
service/compute/interface.go linguist-generated=true
service/compute/model.go linguist-generated=true
service/dashboards/api.go linguist-generated=true
service/dashboards/impl.go linguist-generated=true
service/dashboards/interface.go linguist-generated=true
service/dashboards/model.go linguist-generated=true
service/files/api.go linguist-generated=true
service/files/impl.go linguist-generated=true
service/files/interface.go linguist-generated=true
service/files/model.go linguist-generated=true
service/iam/api.go linguist-generated=true
service/iam/impl.go linguist-generated=true
service/iam/interface.go linguist-generated=true
service/iam/model.go linguist-generated=true
service/jobs/api.go linguist-generated=true
service/jobs/impl.go linguist-generated=true
service/jobs/interface.go linguist-generated=true
service/jobs/model.go linguist-generated=true
service/marketplace/api.go linguist-generated=true
service/marketplace/impl.go linguist-generated=true
service/marketplace/interface.go linguist-generated=true
service/marketplace/model.go linguist-generated=true
service/ml/api.go linguist-generated=true
service/ml/impl.go linguist-generated=true
service/ml/interface.go linguist-generated=true
service/ml/model.go linguist-generated=true
service/oauth2/api.go linguist-generated=true
service/oauth2/impl.go linguist-generated=true
service/oauth2/interface.go linguist-generated=true
service/oauth2/model.go linguist-generated=true
service/pipelines/api.go linguist-generated=true
service/pipelines/impl.go linguist-generated=true
service/pipelines/interface.go linguist-generated=true
service/pipelines/model.go linguist-generated=true
service/pkg.go linguist-generated=true
service/provisioning/api.go linguist-generated=true
service/provisioning/impl.go linguist-generated=true
service/provisioning/interface.go linguist-generated=true
service/provisioning/model.go linguist-generated=true
service/serving/api.go linguist-generated=true
service/serving/impl.go linguist-generated=true
service/serving/interface.go linguist-generated=true
service/serving/model.go linguist-generated=true
service/settings/api.go linguist-generated=true
service/settings/impl.go linguist-generated=true
service/settings/interface.go linguist-generated=true
service/settings/model.go linguist-generated=true
service/sharing/api.go linguist-generated=true
service/sharing/impl.go linguist-generated=true
service/sharing/interface.go linguist-generated=true
service/sharing/model.go linguist-generated=true
service/sql/api.go linguist-generated=true
service/sql/impl.go linguist-generated=true
service/sql/interface.go linguist-generated=true
service/sql/model.go linguist-generated=true
service/vectorsearch/api.go linguist-generated=true
service/vectorsearch/impl.go linguist-generated=true
service/vectorsearch/interface.go linguist-generated=true
service/vectorsearch/model.go linguist-generated=true
service/workspace/api.go linguist-generated=true
service/workspace/impl.go linguist-generated=true
service/workspace/interface.go linguist-generated=true
service/workspace/model.go linguist-generated=true
workspace_client.go linguist-generated=true
