// Databricks SDK for Go APIs
// 
//{{range .Services}}{{if .Description}} - [{{.Package.Name}}.{{.PascalName}}API]: {{.Summary}}
//
//{{end}}{{end}}
package service

import (
{{range .Packages}}"github.com/xuxiaoshuo/databricks-sdk-go/service/{{.Name}}"
{{end}}
)

// adding this trick for godoc to use it as relative import, so that we have 
// a clear index of all services in this package at Go package docs:
// https://pkg.go.dev/github.com/xuxiaoshuo/databricks-sdk-go/service
// See: https://pkg.go.dev/golang.org/x/tools/internal/imports#ImportPathToAssumedName
var (
{{range .Services}}_ *{{.Package.Name}}.{{.PascalName}}API = nil
{{end}}
)