name: Integration Tests

on:

  pull_request:
    branches: [ main ]

jobs:
  check:
    name: Run Check
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Create Check
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
          check_run_id=$(gh api -X POST -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -f name='Integration Tests Check' \
            -f head_sha=${{ github.sha }} \
            -f status='queued' \
            -f output[title]="Integration Tests Check" \
            -f output[summary]="This check is being created." \
            -f output[text]="This check is being created. Refresh for details." \
            --jq '.id' \
            /repos/${{ github.repository }}/check-runs)
              
          # Adding instructions to the check details.
           gh api -X PATCH -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            -f 'status=queued' \
            -f name='Integration Tests Check' \
            -f output[title]="Integration Tests Check" \
            -f output[summary]="Waiting for test to run." \
            -f output[text]="Run the following workflow using the provided check_run_id: 
                Workflow https://github.com/databricks-eng/eng-dev-ecosystem/actions/workflows/sdk-go-isolated-pr.yml 
                Check Run ID: $check_run_id " \
            /repos/${{ github.repository }}/check-runs/$check_run_id
           
          echo "CHECK_RUN_ID=$check_run_id" >> $GITHUB_ENV

    - name: Write PR Comment
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
          # Delete previous comment if it exists
          previous_comment_id=$(gh api repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/comments \
            --jq '.[] | select(.body | startswith("<!-- INTEGRATION_TESTS -->")) | .id')
          if [ ! -z "$previous_comment_id" ]; then
            gh api repos/${{ github.repository }}/issues/comments/$previous_comment_id -X DELETE
          fi
  
          # Add new comment
          gh pr comment ${{ github.event.pull_request.number }} --body \
          "<!-- INTEGRATION_TESTS -->
          A new approval check has been created. Run integration tests by triggering the following workflow
          
          Workflow: https://github.com/databricks-eng/eng-dev-ecosystem/actions/workflows/sdk-go-isolated-pr.yml 
          Check Run ID: ${{ env.CHECK_RUN_ID }}
          
          This check will be approved automatically on success.
          
          Check URL: ${{ github.server_url }}/${{ github.repository }}/runs/${{ env.CHECK_RUN_ID }}
          "
